<div class="wrapper">
  <div class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg">
    <!--

      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag

  -->
    <app-layout></app-layout>
  </div>

  <div class="main-panel">
    <app-topnav></app-topnav>

    <div class="content">
      <div class="container-fluid">

        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Add Customer</h4>
            </div>
            <div class="content">
              <form [formGroup]="form">
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                    Name
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">

                    <div *ngIf="car != null">
                      <select [(ngModel)]="car.colour" formControlName="Name" class="form-control">
                          <option [ngValue]="null" disabled [selected]="true">Please select</option>
                          <option *ngFor="let x of colours" [ngValue]="x" >{{x.FullName}}</option>
                      </select>
                  </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TransactionDate">
                    Transaction Date
                  </label>
  
                      <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                        <input type="text" formControlName="TransactionDate"  class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        
                    
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TransactionType">
                    Transaction Type
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="TransactionType" formControlName="TransactionType">

                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Credit">
                    Credit
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="Credit" formControlName="Credit">

                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Debit">
                    Debit
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="Debit" formControlName="Debit">

                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Remarks">
                    Remarks
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="Remarks" formControlName="Remarks">

                  </div>
                </div>
                <div>
                  <button (click)="IUDTransaction()" class="btn btn-info btn-fill pull-center">Submit</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>