<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg">
        <!--
  
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
  
    -->
        <app-layout></app-layout>
    </div>
  
    <div class="main-panel">
        <app-topnav></app-topnav>
  
        <div class="content">
            <div class="container-fluid">
                
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Transaction</h4>
            <p class="category">Todal Transaction 10</p>
            <p style="float:right">
                <a href="addtransaction">
                    <i class="fa fa-plus plusadd"></i>Add New</a>
            </p>
        </div>
        
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                        <th>CID</th>
                  <th>ID</th>
                  <th>FullName </th>
                  <th>Transaction Date</th>
                  <th>Credit</th>
                  <th>Debit</th>
                  <th>Remarks</th>
                </thead>
                <tbody>
                    <tr *ngFor='let trs of TransactionRecords'>
                            <td>{{trs.CustomerID}}</td>
                      <td>{{trs.TransactionID}}</td>
                      <td>{{trs.FullName}}</td>
                      <td>{{trs.TransactionDate}}</td>
                      <td>{{trs.Credit}}</td>
                      <td>{{trs.Debit}}</td>
                    <td>
                      <span class="btn btn-round btn-warning">Modify</span>
                      <span class="btn btn-round btn-danger">Delete</span>
                    </td>
                    </tr>
                    
                    
                </tbody>
            </table>
  
        </div>
    </div>
  </div>
            </div>
        </div>
    </div>
  
  